body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h6 {
  margin: 10px;
}

nav {
  font-size: 1.5rem;
}

.collection-item {
  transition-duration: .2s;
  cursor: default;

  &:hover {
    background-color: rgba(200, 200, 200, .4);
  }
}

i {
  cursor: pointer;
  color: palevioletred;
}

a {
  &:active {
    background-color: red;
  }
}

.stationsBtn {
  font-size: 1.2rem;
  background-color: transparent;
  // border: 1px solid rgba(200, 200, 200, .4);
  border: none;
  margin: 25px 20px 5px;
  padding: 0;
  cursor: pointer;

  &-disabled {
    cursor: initial;
    color: black;
  }

  &:focus {
    background-color: transparent;
  }
  
}

// ******** STYLE FOR LoaderSmall COMPONENT *******

.lds-ring {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-top: 4px;
  border: 2px solid gray;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: gray transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}